* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.tela {
  width: 100%;
  height: 245vh;
  background: rgba(8, 0, 44, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


.Home {
  color: rgba(95, 159, 255, 1);
  position: absolute;
  top: 1%;
  left: 50%;
  font-family: Inter;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
  text-decoration: underline;
}
.Home:hover {
  color: rgba(54, 50, 255, 1);
  font-weight: bold;
}

.Artigos {
  color: rgba(95, 159, 255, 1);
  position: absolute;
  top: 1%;
  left: 75%;
  font-family: Inter;
  font-size: 25px;
  cursor: pointer;
  text-decoration: underline;
}

.Artigos:hover {
  color: rgba(54, 50, 255, 1);
  font-weight: bold;
}

.Sobre {
  color: rgba(95, 159, 255, 1);
  position: absolute;
  top: 1%;
  left: 82%;
  font-family: Inter;
  font-size: 25px;
  cursor: pointer;
  text-decoration: underline;
}

.Sobre:hover {
  color: rgba(54, 50, 255, 1);
  font-weight: bold;
}

.SingUp2 {
  width: 231px;
  height: 87px;
  background: rgba(32, 18, 191, 0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 35%;
  left: 6%;
  border: 1px solid rgba(59, 55, 255, 1);
  border-radius: 9px;

  /* *Texto Sing UP */
  color: rgba(54, 50, 255, 1);
  position: absolute;
  font-family: Inter;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.SingUp2:hover {
  color: rgb(28, 26, 179);
  font-weight: bold;
}

.Graficos {
  width: 90%; 
  max-width: 550px;
  height: auto;
  max-height: 500px;
  opacity: 1;
  position: absolute;
  top: 1468px;
  left: 3%;
  border-radius: 20px;
}

.codenot {
  width: 90%; 
  max-width: 550px;
  height: auto;
  max-height: 500px;
  opacity: 1;
  position: absolute;
  top: 1468px;
  left: 35%;
  border-radius: 20px;
}

.livro_python {
  width: 90%; 
  max-width: 550px;
  height: auto;
  max-height: 500px;
  opacity: 1;
  position: absolute;
  top: 1468px;
  left: 67%;
  border-radius: 20px;
}

.text_graficos {
  width: 555px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1850px;
  left: 4%;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}

.bloco_graficos {
  width: 270px;
  height: 95px;
  background: blue;
  opacity: 1;
  position: absolute;
  top: 2000px;
  left: 4%;
  border-radius: 10px;

  /* *Leia Mais Graficos*/
  display: flex;
  font-family: Calibri;
  font-size: 37px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.bloco_graficos:hover {
  border-radius: 20px;
}




.text_codenot {
  width: 555px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1850px;
  left: 35%;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 37px;
  opacity: 1;
}

.bloco_codenot {
  width: 270px;
  height: 95px;
  background: blue;
  opacity: 1;
  position: absolute;
  top: 2000px;
  left: 35%;
  border-radius: 10px;

  /* *Leia Mais Codenot*/
  display: flex;
  font-family: Calibri;
  font-size: 37px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.bloco_codenot:hover {
  border-radius: 20px;
}

.text_livro_python {
  width: 555px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1850px;
  left: 67%;
  font-family: Inter;
  font-size: 37px;
  opacity: 1;
}

.bloco_livro_python {
  width: 270px;
  height: 95px;
  background: blue;
  opacity: 1;
  position: absolute;
  top: 2000px;
  left: 67%;
  border-radius: 10px;

  /* *Leia Mais Livro Python*/
  display: flex;
  font-family:  Calibri;
  font-size: 37px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.bloco_livro_python:hover {
  border-radius: 20px;
}


.instagram { 
	width: 30px;
  height: 30px;
  position: absolute;
  top: 30%;
  left: 47%;
  overflow: hidden;
  transform: translateX(-50%) translateY(-60%);
  cursor: pointer;
}

.linkedin {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%) translateY(-60%);
  cursor: pointer;
}

.Facebook {
  width: 30px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 53%;
  overflow: hidden;
  transform: translateX(-50%) translateY(-60%);
  cursor: pointer;
}

.bloco {
  background: rgb(0, 0, 0);
  width: 60%;
  height: 1091px;
  position: absolute;
  top: 5.4%;
  left: 2%;
  opacity: 0.6;
}

.texto{
  width: 60%;
  height: 1036px;
  opacity: 1;
  position: absolute;
  top: 18%;
  left: 4%;
}

.white {
  color: white;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 90px;
}

.blue {
  color: blue;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 90px;
}

.green {
  color: #DCFF78;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 90px;
}

.imagemSom { 
  width: 100%;
  height: 1100px;
  opacity: 1;
  position: absolute;
  top: 5%;
  left: 2%;
}

.account {
  color: white;
  position: absolute;
  top: 22.4%;
  left: 1%;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
}

.green2{
  color: #DCFF78;
  font-family: Inter;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  top: 0%;
  left: 102%;
  position: absolute;
}
.green2:hover {
  color: rgba(54, 50, 255, 1);

}

.Cabecalho {
  background: #030011;
  width: 100%;
  height: 80px;
  top: 1%;
}


.Kode {
  color: rgba(95, 159, 255, 1);
  position: absolute;
  top: 1%;
  left: 7%;
  font-family: Inter;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-weight: medium 25;
}

.Kodeimage {
  width: 30px;
  position: absolute;
  top: 1%;
  left: 4%;
  opacity: 1;
}


.FinalCabecalho {
  background: #030011;
  width: 100%;
  height: 92px;
  top: 98%;
  position: absolute;
}

.Kode2 {
  color: rgba(95, 159, 255, 1);
  position: absolute;
  top: 8%;
  left: 7%;
  font-family: Inter;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-weight: medium 25;
}

.Kodeimage2 {
  width: 30px;
  position: absolute;
  top: 8%;
  left: 4%;
  opacity: 1;
}

.conheca {
    color: #D7D9FF;
    font-family: inter;
    top: 52%;
    left: 2%;
    font-size: 50px;
    position: absolute;
  }
.aprenda {
  color: #9ca1ff;
  font-family: Inter;
  top: 54.4%;
  left: 3%;
  font-size: 20px;
  position:absolute;
}



.container-popup{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: none;
align-items: center;
justify-content: center;
}

.container-popup.active{
  display: flex;
}

.popup{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 5px green;
  position: relative;


  width: 500px;
  height: 300px;

}

.popup button{

  color: blueviolet;
  font: 2.5rem;
  top: 10px;
  right: 10px;
}









.green2Login{
  color: #DCFF78;
  font-family: Inter;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  top: 27.7%;
  left: 18%;
  position: absolute;
}
.green2Login:hover {
  color: rgba(54, 50, 255, 1);

}

.container-popupLogin{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  }
  
  .container-popupLogin.active{
    display: flex;
  }
  
  .popupLogin{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 5px green;
    position: relative;
  
  
    width: 500px;
    height: 300px;
  
  }
  
  .popupLogin button{
  
    color: blueviolet;
    font: 2.5rem;
    top: 10px;
    right: 10px;
  }
  